@media (max-width:1000px) {
    .dish-list{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .dish-list a{
        width: 100%;
        margin-bottom: 50px;
        flex: auto;
    }
    
    .dish-list p{
        text-align: center;
        
    }
    
    .head-mes h2 {
    font-size: 20px;
    }
    
    .top-wrapper h1 {
    font-size: 32px;
    }

}

@media (max-width:670px) {
    .dish-list{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .dish-list a{
        width: 100%;
        margin-bottom: 50px;
        flex: auto;
    }

    .dish-list p{
        text-align: center;
        font-size: 40px;
    }
    
    .btn {
    width: 100%;
    }
    
    .head-mes h2 {
    font-size: 20px;
    }
    
    .bungkus{
    display: block;
    }
   
    .header-right {
    display: none;
    }
  
    .menu-icon {
    display: block !important;
    }
    
    .logo-text.kolom{
    display: block;
    }
    
    .teks {
    font-size: 30px;
    line-height: 36px;
    }
    
    .teks2 {
    font-size: 24px;
    line-height: 20px;
    }
    
    .top-wrapper {
    text-align: left;
    }
    
}
